<% layout('layouts/boilerplate') %> 
    
<div class="container-fluid quote">
  <div class="row">
    <div class="col-lg-6 col-sm-12">
    <h3 class="head3">Be the one who makes SILK out of worm!!</h3>
    <h4 class="head2">With time and patience lets turn mulberry leaf into silk gown...</h4>
  </div>
  <div class="col-lg-6 col-sm-12">
    <!-- <img src="cocoons.jpeg" class="image1 " alt="cocoons" height="250px" width="400px"> -->
  </div>
  </div>
</div>

<div class="eggsInfo container-fluid">
  <h3 class="head4">Eggs Availability</h3>
  <hr class="ruling">
  <div class="row">
    <div class="col-md-4 col-lg-4 col-sm-6">
      <div class="eggsContent">
  <h5>Location:</h5>
</div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="eggsContent">
  <h5>Date:</h5>
</div>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-6">
      <div class="eggsContent">
  <h5>Quantity:</h5>
</div>
    </div>
  </div>
  <p class="eggsText eggsTextTop">
    If you are willing to buy, <a class="eggsLink" href="/">Click here</a>
  </p>
  <p class="eggsText eggsTextBottom">
    For more details regarding availabililty of eggs, <a class="eggsLink" href="/eggs">Click here</a>
  </p>
</div>

  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner ">
      <div class="carousel-item active card">
        <div class="card-img-overlay">
          <h5 class="head6">
           Hyderabad market price dated 20th August, 2022
          </h5>
          <div class="row">
            <div class="col-md-6 ">
              <div class="priceInnerContent priceInnerLeft">
               <div> <h5 class="head7">Average Price:</h5><span>250</span></div>
                <div><h5 class="head7">Maximum Price:</h5><span>250</span></div>
                <div><h5 class="head7">Minimum Price:</h5><span>250</span></div>
                <div><h5 class="head7">Number of lots:</h5><span>5</span></div>
            </div>
            </div>
            <div class="col-md-6">
              <div class="priceInnerContent">
                hello
              </div>
            </div>
          </div>
        </div>
        <div class="priceContent"></div>
        
        <div class="carousel-caption d-none d-md-block">
          <h5 class="head5">Hyderabad Market</h5>
          <p class="pricesText">For detailed analysis, <a href="/prices" class="pricesLink">Click here</a></p>
        </div>
      </div>
      <div class="carousel-item card">
        <div class="card-img-overlay">
          <h5 class="head6">
            Jangoan market price dated 20th August, 2022
           </h5>
          <div class="row">
            <div class="col-md-6 ">
              <div class="priceInnerContent priceInnerLeft">
                <div> <h5 class="head7">Average Price:</h5><span>250</span></div>
                <div><h5 class="head7">Maximum Price:</h5><span>250</span></div>
                <div><h5 class="head7">Minimum Price:</h5><span>250</span></div>
                <div><h5 class="head7">Number of lots:</h5><span>5</span></div>
            </div>
            </div>
            <div class="col-md-6">
              <div class="priceInnerContent">
                hello
              </div>
            </div>
          </div>
        </div>
        <div class="priceContent">
        </div>
        <div class="carousel-caption d-none d-md-block">
          <h5 class="head5">Jangoan Market</h5>
          <p class="pricesText">For detailed analysis, <a href="/prices" class="pricesLink">Click here</a></p>
        </div>
      </div>
      <div class="carousel-item card">
        <div class="card-img-overlay">
          <h5 class="head6">
            Ramanagaram market price dated 20th August, 2022
           </h5>
           <div class="row">
            <div class="col-md-6">
              <div class="priceInnerContent priceInnerLeft">
                <div> <h5 class="head7">Average Price:</h5><span>250</span></div>
                <div><h5 class="head7">Maximum Price:</h5><span>250</span></div>
                <div><h5 class="head7">Minimum Price:</h5><span>250</span></div>
                <div><h5 class="head7">Number of lots:</h5><span>5</span></div>
            </div>
            </div>
            <div class="col-md-6 ">
              <div class="priceInnerContent">
                hello
              </div>
            </div>
          </div>
        </div>
        <div class="priceContent"></div>
        <div class="carousel-caption d-none d-md-block">
          <h5 class="head5">Ramanagaram Market</h5>
          <p class="pricesText">For detailed analysis, <a href="/prices" class="pricesLink">Click here</a></p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="sellersContent container-fluid">
<h3 class="head4">Cocoons ready to be processessed</h3>
<div class="row ">
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="sellerInnerContent">
<div class="card" style="width: 18rem;">
  <img src="cocoons.jpeg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Ram Gopal</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Approximate Date: 23 October, 2022</li>
    <li class="list-group-item">Approximate Qunatity: 200</li>
    <li class="list-group-item">Location: Siddipet</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link contactLink">Contact</a>
  </div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-6">
<div class="sellerInnerContent">
  <div class="card" style="width: 18rem;">
    <img src="cocoons.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Sridhar Reddy</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Approximate Date: 23 October, 2022</li>
      <li class="list-group-item">Approximate Qunatity: 800</li>
      <li class="list-group-item">Location: Siddipet</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link contactLink">Contact</a>
    </div>
  </div>
</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-6">
  <div class="sellerInnerContent">
    <div class="card" style="width: 18rem;">
      <img src="cocoons.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Krishna</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Approximate Date: 23 October, 2022</li>
        <li class="list-group-item">Approximate Qunatity: 500</li>
        <li class="list-group-item">Location: Siddipet</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link contactLink">Contact</a>
      </div>
    </div>
  </div>
</div>
  </div>
  <p class="cocoonsText">For all available cocoons, <a href="/cocoons" class="cocoonsLink">Click here</a></p>
</div>

<div class="buyersInfo container-fluid">
  <h3 class="head4">Reelers ready to buy</h3>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6">
      <div class="buyersInnerContent">
  <div class="card" style="width: 18rem;">
    <img src="cocoonst.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Srinivas</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Location: Hyderabad</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link contactLink">Contact</a>
    </div>
  </div>
</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-6">
  <div class="buyersInnerContent">
<div class="card" style="width: 18rem;">
<img src="cocoonst.jpeg" class="card-img-top" alt="...">
<div class="card-body">
  <h5 class="card-title">Shekar</h5>
</div>
<ul class="list-group list-group-flush">
  <li class="list-group-item">Location: Vishakapatnam</li>
</ul>
<div class="card-body">
  <a href="#" class="card-link contactLink">Contact</a>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-6">
  <div class="buyersInnerContent">
<div class="card" style="width: 18rem;">
<img src="cocoonst.jpeg" class="card-img-top" alt="...">
<div class="card-body">
  <h5 class="card-title">Arjun</h5>
</div>
<ul class="list-group list-group-flush">
  <li class="list-group-item">Location: Warangal</li>
</ul>
<div class="card-body">
  <a href="#" class="card-link contactLink">Contact</a>
</div>
</div>
</div>
</div>
</div>
<p class="cocoonsText">For all available reelers, <a href="/" class="cocoonsLink">Click here</a></p>
</div>