<% layout('layouts/boilerplate') %> 
    
<div class="card border-dark mt-3" >
    <div class="card-body">
      <h5 class="card-title">Eggs Availability</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"> Date: Wed Sep 14 2022 05:30:00 GMT+0530 (India Standard Time)</li>
        <li class="list-group-item">Location: Siddipet, Telangana, India</li>
        <li class="list-group-item">Quantity: 100</li>
      </ul>
      
      <p class="card-text mb-0">If you are ready to buy click on contact link</p>
      <a href="#" class="card-link mt-0">Contact</a>
      <p class="card-text mb-0">For further details regarding eggs availability,</p>
      <a href="/eggs/" class="card-link">Click here</a>
      <div class="card-footer text-muted">last updated 1 day ago</div>
    </div>
  </div>