<% layout('layouts/boilerplate') %>

<form action="/groups" method="POST">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title"><br>
    <label for="key">Key:</label>
    <input type="text" id="key" name="key"><br>
    <button>Submit</button>
</form>