<% layout('layouts/boilerplate') %>

<h1>Edit</h1>

<div>
  <form action="/eggs/<%= egg._id %>?_method=PUT" method="POST">
    <label for="date">Hatch Date:</label>
    <input type="date" id="date" name="date" /><br />
    <label for="quantity">Quantity Available(in dfls):</label>
    <input type="number" id="quantity" name="quantity" min="0" /><br />
    <label for="location">Location:</label>
    <input type="text" id="location" name="location" /><br />
    <label for="contact">Contact:</label>
    <input type="text" id="contact" name="contact" /><br />
    <button>Submit</button>
  </form>
</div>
