<% layout('layouts/boilerplate') %>

<h1>Eggs availability</h1>

<% for(let egg of eggs) {%>

<ul>
  <li>Date: <%= egg.date %></li>
  <li>Location: <%= egg.location %></li>
  <li>Quantity: <%= egg.quantity %></li>
  <li>Contact<%= egg.contact %></li>
</ul>
<% } %>
