<% layout('layouts/boilerplate') %>

<h3>New Seller</h3>

<div>
    <form action="/cocoonSell" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"><br>
        <label for="location">Location:</label>
        <input type="text" id="location" name="location"><br>
        <label for="contact">Contact:</label>
        <input type="contact" name="contact"><br>
        <button>Submit</button>
    </form>
</div>